numpy>=1.19.5
pandas>=1.1.5
scipy>=1.5.4

h5py>=2.7.0
lifelines
logger
Optunity
tensorboard_logger

theano>=0.8.2

matplotlib>=3.3.4
scikit-learn>=0.24.2
pandas
tqdm=4.62.3
IPython=7.16.3
PyYAML=6.0
# Lasagne~=0.2.dev1
# pip install https://github.com/Lasagne/Lasagne/archive/master.zip